    body{
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        background: #787A7B;

    }

    header{
        z-index: 1;
        position: fixed;
        background: #353535;
        padding: 20px;
        width: calc(100% - 0%);
        top: 0;
        height: 30px;
    }
 
    .IzqArea h3{
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 900;
    }


    .cerrar{
        padding: 5px;
        background: #77BDE7;
        text-decoration: none;
        float: right;
        margin-top: -30px;
        margin-right: 40px;
        border-radius: 2px;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        
    }

    .cerrar:hover{
        background: #6EABD1;
        transition: 0.3s;
        transform: scale(1.1);
    }

    .Sidebar{
        z-index: 1;
        top: 0;
        background: #353535;
        margin-top: 70px;
        padding-top: 30px;
        position: fixed;
        left: 0;
        width: 300px;
        height: calc(100% - 9%);
        transition: 0.5s;
        transition-property: left;
    }

    .Sidebar .Foto_Perfil{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 10px;
    }

    .Sidebar h3{
        color: #EEF2F5;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .Sidebar a{
        color: aliceblue;
        display: block;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 30px;
        box-sizing: border-box;
        transition: 0.6s;
        transition-property: background;
        
    }

    .Sidebar a:hover{
        background: cadetblue;

    }

    .Sidebar i{
        padding-right: 10px;
    }

    label #Sidebarbtn{
        z-index: 1;
        color: #fff;
        position: fixed;
        cursor: pointer;
        left: 220px;
        font-size: 20px;
        margin: 5px 0;
        transition: 0.5s;
        transition-property: color;
    }

    label #Sidebarbtn:hover{
        color: cadetblue;
    }

    #check:checked ~ .Sidebar{
        left: -240px;
    }

    #check:checked ~ .Sidebar a span{
        display: none;
    }

    #check:checked ~ .Sidebar h3{
        display: none;
    }

    #check:checked ~ .Sidebar a{
        font-size: 20px;
        margin-left: 230px;
        margin-top: 30px;
        width: 70px;
    }

    #check{
        display: none;
    }

    .Header-Grupos{
        position: relative;
        left: 400px;
        top: 320px;
        background: #353535;
        width: 180px;
        padding: 2px 20px;
        color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        transition: 0.5s;
    }

    #check:checked ~ .Header-Grupos{
        left: 100px;
    }

    .Contendor-Grupos{
        position: relative;
        left: 400px;
        top: 300px;
        background: #353535;
        width: 380px;
        height: 550px;
        border-radius: 9px;
        transition: 0.5s;
    }

    #check:checked ~ .Contendor-Grupos{
        left: 100px;
    }

    .Aleman, .Programacion{
        position: relative;
        background: #353535;
    }

    .Aleman ul{
        z-index: 1;
        position: absolute;
        top: -10px;
        margin-top: 10px;
        padding-left: 30px;
        background: #353535;
        width: 300px;
        height: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        list-style: none;
        border-radius: 8px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.5s ease;
    }

    .Programacion ul{
        z-index: 1;
        position: absolute;
        top: -10px;
        margin-top: 10px;
        padding-left: 30px;
        background: #353535;
        width: 300px;
        height: 450px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-radius: 8px;
        list-style: none;
        border-radius: 8px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.5s ease;
    }

    .Aleman a, .Programacion a{
        color: #fff;
        text-decoration: none;
    }

    .Aleman li, .Programacion li{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid #A2A2A2;
        border-radius: 8px;
    }

    .Aleman li:hover, .Programacion li:hover{
        background: cadetblue;
        cursor: pointer;
        padding:0 40px;
        transform: scale(1.1);
        transition-property: background;
        border-radius: 8px;
        transition: 0.6s;
    }


    .Aleman  button{
        background: none;
        border: none;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 280px;
        padding-left: 40px;
        cursor: pointer;
    }

    .Programacion button{
        background: none;
        border: none;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        width: max-content;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 143px;
        padding-left: 40px;
        cursor: pointer;
    }

    .Contendor-Grupos button:hover{
        background: cadetblue;
        border-radius: 8px;
        transition: 0.6s;
        transition-property: background;
    }


    .Aleman button:focus + ul{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
    }

    .Programacion button:focus + ul{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
    }